*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    width: 100vw;
    height: 100vh;

}

.home_details{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    background-color: whitesmoke;
    width: 50vw ;
    height: 70vh;
    box-shadow: 5px 5px 5px rgba(11, 11, 11,.5), -5px -5px 5px rgba(11, 11, 11,.5);
    border-radius: 20px;
    border: none;

    
}